[submodule "CS425"]
	path = CS425
	url = git@github.com:abhijeeta21/CS425_2025.git
[submodule "CS253"]
	path = CS253
	url = git@github.com:abhijeeta21/CS253_2025.git
[submodule "EE675"]
	path = EE675
	url = git@github.com:abhijeeta21/EE675_2025.git
